.sidebar {
    color: $white;
    padding: 0;

    .sidebar-wrapper {
        padding: 3rem 0;
    }

    &-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 0 !important;

        &__item {
            display: block;
            border-bottom: 1px solid $brand-black;

            .v-btn:not(.v-btn--round).v-size--default{
                height: auto;
                width: 100%;
                justify-content: flex-start;
                border-radius: 0;
                appearance: none;
            }

            &--link {
                display: block;
                padding: 16px 15px !important;
                text-decoration: none;
                transition: all 0.75s;

                &,
                * {
                    font-size: 14px !important;
                    line-height: 120%;
                    font-weight: 300;
                    text-transform: uppercase;
                }

                &.router-link-exact-active {
                    background-color: $brand-secondary;
                }

                &:hover {
                    color: $white;
                    text-decoration: none;
                    background-color: $brand-secondary;
                }
            }
        }
    }
}
