// assets/variables.scss

// Variables you want to modify
$btn-border-radius: 30px;
$text-field-outlined-fieldset-border : 1px solid #FFAB00;


// If you need to extend Vuetify SASS lists
$material-light: ( cards: blue );

@import '~vuetify/src/styles/styles.sass';
